/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

.nested-select {display: inline-block; height: 170px; width: 500px; border: 1px Black solid; overflow-y: scroll;}
.nested-select label{display: block; cursor: pointer; margin-bottom: 0px;}
.nested-select label:nth-of-type(odd){background-color: #efefef;}
.nested-select label:hover{background-color: #0092ff; color: White;}
.nested-select input[type="checkbox"]{display: none;}
.nested-select input[type="checkbox"] + span{display: block; padding-left: 0px; padding-right: 5px;}
.nested-select label input[type="checkbox"]:checked + span{background-color: aqua; color: black;}			
.nested-select span span{margin-left: 15px;}
.field-validation-error {
    color: #ff0000;
    display: block;
}